
<h2>About Us</h2>

<p>We are a model development and promotion company. Our photographers travel all over the world capturing beautiful images. What we do is partner up with the models and help promote sales of the calendars we print. We also hit up the local business around where the models live to help promote their sales and help boost the local economy.</p>

<h3>Mission</h3>
<p>Our mission is to have models all over the world representing the PAC4ME company. Also helping models beyond modeling. Our company has business experts that can help models open businesses and walk them thru step by step. From filing the appropriate paperwork to even building the actual place of business. Because we at PAC4ME know that the models can't model forever. So contact us for more information...</p>