<div class="container">
<h3>Welcome to Pac4Me</h3>	
<p>We are always looking for models to promote. If you have what it takes to be a part of our team, send us a message. Models must be professional and punctual at all times. At the end of every calendar  year we will pick one lucky model and open a busienss of your choice (up to $100,000). Also, top 5 models will receive a new 2018 company car. Each model has the potential to make $50,000+ a year with Pac4Me. Also, at the end of the year we will be taking 12-15 models to Hawaii for 2 weeks all expenses paid.</p>
<p>For 2017 we are looking for submission for calendars all over the states. Message us for compensation. We are also looking for staff photographers in different states. Salary will depend on experience. Also, the top 5 photographers will receive 2018 company car and will go on the company trip at the end of the year to Hawaii.</p>
</div>
